<div class="row gap-lg-0 gap-3">
    <div class="col-lg-4">
        <a routerLink="aprob_cub" class="text-decoration-none text-dark">
            <app-card title="Plantilla Aprobada y Cubierta" image_src="assets/images/models_banner.png">
                Hola
            </app-card>
        </a>
    </div>
    <div class="col-lg-4">
        <app-card title="Lol" image_src="assets/images/models_banner.png"></app-card>
    </div>
    <div class="col-lg-4 ">
        <app-card title="Lol" image_src="assets/images/models_banner.png"></app-card>
    </div>
</div>