<div class="d-flex flex-column flex-shrink-0 p-3 bg-light w-100">
    <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <fa-icon [icon]="data.icon" class="fa fa-users d-block mb-1 text-center h-100 align-middle" aria-hidden="true"></fa-icon>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span class="fs-4">Section name</span>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li *ngFor="let item of data.options">
            <a href="{{item.link}}" class="nav-link link-dark" aria-current="page">
                {{item.nombre}}
            </a>
        </li>
    </ul>
</div>