<div class="d-flex flex-column flex-shrink-0 p-3 bg-light w-100">
    <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
        [routerLink]="data.rootLink">
        <fa-icon [icon]="data.icon" class="fa fa-users d-block mb-1 text-center h-100 align-middle" aria-hidden="true">
        </fa-icon>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span class="fs-4">{{data.secionName}}</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto" *ngFor="let group of data.groups">
        <li class="link-dark d-flex justify-content=center align-items-center pe-none">
            <h3 *ngIf="group.title" class="mb-0 mt-2 text-secondary">{{group.title}}</h3>
        </li>
        <li *ngFor="let item of group.options">
            <a href="{{item.link}}" class="nav-link link-dark" aria-current="page">
                {{item.nombre}}
            </a>
        </li>
    </ul>
</div>