<h1 class="card-title">Plantilla de cargo y registro de trabajadores</h1>

<div class="card-body">
    <div class="d-flex justify-content-between">
        <mat-form-field>
            <mat-label>Seleccione una unidad</mat-label>
            <mat-select [(value)]="unidad" [compareWith]="compareObjects" (valueChange)="changedUni()">
                <mat-option [value]="null">--</mat-option>
                <mat-option *ngFor="let uni of unidades" [value]="uni">
                    {{uni.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <ng-container *ngIf="!isLoading; else noData;">
        <ng-container *ngIf="file != ''; else noFile">
            <app-pdf-viewer [src]="file" [downloadFileName]="'P2 - ' + unidad?.nombre + '.pdf'"></app-pdf-viewer>
        </ng-container>
    </ng-container>
</div>

<ng-template #noData>
    <app-loader></app-loader>
</ng-template>

<ng-template #noFile>
    <small class="text-danger">
        Debe seleccionar una unidad
    </small>
</ng-template>