<ng-container *ngIf="!isLoading; else noData;">
    <p>Ingrese los datos de las ausencias por cada categor&iacute;a ocupacional. Esta informaci&oacute;n se maneja en
        <b>H/d</b>
    </p>
    <ng-container *ngFor="let item of forms; let index = index">
        <div class="row my-4 mx-2 form-row mat-elevation-z8">
            <h2>{{cats[index].nombre}}</h2>

            <form [formGroup]="item">
                <div class="d-flex flex-row align-items-center w-100 gap-3 mb-4">
                    <h4 class="my-1" title="FTL = Plantilla cubierta * 24"> Fondo de tiempo laborable (FTL): </h4>
                    <mat-form-field class="example-full-width w-25 my-1">
                        <input matInput title="ftl" formControlName="referencia" type="number">
                    </mat-form-field>
                    <p *ngIf="item.controls['referencia'].hasError('mayorRef')" class="text-danger small">
                        La suma de los valores internos excede al FTL
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Autorizadas" formControlName="autorizada" type="number">
                            <mat-hint>Sin errores</mat-hint>
                            <mat-error *ngIf="item.controls['autorizada'].hasError('min')">
                                Solo valores positivos
                            </mat-error>
                            <mat-error *ngIf="item.controls['autorizada'].hasError('required')">
                                Debe ingresar un valor
                            </mat-error>
                            <mat-error *ngIf="item.controls['autorizada'].hasError('mayorRef')">
                                No debe exceder el valor del FTL
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Enfermedad" formControlName="enfermedad" type="number">
                            <mat-hint>Sin errores</mat-hint>
                            <mat-error *ngIf="item.controls['enfermedad'].hasError('min')">
                                Solo valores positivos
                            </mat-error>
                            <mat-error *ngIf="item.controls['enfermedad'].hasError('required')">
                                Debe ingresar un valor
                            </mat-error>
                            <mat-error *ngIf="item.controls['enfermedad'].hasError('mayorRef')">
                                No debe exceder el valor del FTL
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="ISS" formControlName="iss" type="number">
                            <mat-hint>Sin errores</mat-hint>
                            <mat-error *ngIf="item.controls['iss'].hasError('min')">
                                Solo valores positivos
                            </mat-error>
                            <mat-error *ngIf="item.controls['iss'].hasError('required')">
                                Debe ingresar un valor
                            </mat-error>
                            <mat-error *ngIf="item.controls['iss'].hasError('mayorRef')">
                                No debe exceder el valor del FTL
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Accidentes de trabajo" formControlName="accidente"
                                type="number">
                            <mat-hint>Sin errores</mat-hint>
                            <mat-error *ngIf="item.controls['accidente'].hasError('min')">
                                Solo valores positivos
                            </mat-error>
                            <mat-error *ngIf="item.controls['accidente'].hasError('required')">
                                Debe ingresar un valor
                            </mat-error>
                            <mat-error *ngIf="item.controls['accidente'].hasError('mayorRef')">
                                No debe exceder el valor del FTL
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Injustificadas" formControlName="injust" type="number">
                            <mat-hint>Sin errores</mat-hint>
                            <mat-error *ngIf="item.controls['injust'].hasError('min')">
                                Solo valores positivos
                            </mat-error>
                            <mat-error *ngIf="item.controls['injust'].hasError('required')">
                                Debe ingresar un valor
                            </mat-error>
                            <mat-error *ngIf="item.controls['injust'].hasError('mayorRef')">
                                No debe exceder el valor del FTL
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </form>
        </div>
    </ng-container>

    <div class="flex-right">
        <button type="button" mat-button (click)="submitAll()">Siguiente</button>
    </div>
</ng-container>

<ng-template #noData>
    <app-loader></app-loader>
</ng-template>