<h2 mat-dialog-title>Asignar Plazas</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="form" (ngSubmit)="closeDialog()">

        <div class="row">
            <div class="col-md-5">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nombre" formControlName="cargo">
                    <mat-hint>Sin errores</mat-hint>
                    <mat-error *ngIf="form.controls['cargo'].hasError('required')">
                        El cargo es obligatorio
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-5">
                <mat-form-field class="example-full-width">
                    <mat-select placeholder="Departamento" formControlName="departamento" required
                        [compareWith]="compareObjects" (valueChange)="onChange($event)">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let dep of deps" [value]="dep">
                            {{dep.idUnidad.nombre}}/{{dep.nombre}}
                        </mat-option>
                    </mat-select>
                    <mat-hint>Sin errores</mat-hint>
                    <mat-error *ngIf="form.controls['departamento'].hasError('required')">
                        El departamento es obligatorio
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-2">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Plazas" type="number" formControlName="plazas">
                    <mat-hint>Sin errores</mat-hint>
                    <mat-error
                        *ngIf="!form.controls['plazas'].hasError('required') && form.controls['plazas'].hasError('min')">
                        El número de plazas debe ser 1 o más
                    </mat-error>
                    <mat-error *ngIf="form.controls['plazas'].hasError('required')">
                        El número de plazas es obligatorio
                    </mat-error>
                </mat-form-field>
            </div>
        </div>


        <div class="d-flex justify-content-end mt-4">
            <button mat-button [mat-dialog-close]="{success:false, object:undefined}" type="button">Cancelar</button>
            <button mat-button  type="submit">Asignar</button>
        </div>
    </form>
</mat-dialog-content>