<h1 class="card-title">Plantilla de cargo y registro de trabajadores</h1>

<div class="card-body">
    <div class="d-flex justify-content-between">
        <mat-form-field>
            <mat-label>Seleccione una unidad</mat-label>
            <mat-select [(value)]="unidad" [compareWith]="compareObjects" (valueChange)="changedUni()">
                <mat-option [value]="null">--</mat-option>
                <mat-option *ngFor="let uni of unidades" [value]="uni">
                    {{uni.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <ng-container *ngIf="!isLoading; else noData;">
        <ng-container *ngIf="file != ''; else noFile">
            <pdf-viewer [src]="file" [render-text]="true" [original-size]="false" class="pdf" [show-borders]="true"
                [autoresize]="true" [fit-to-page]="true" [show-all]="true">
            </pdf-viewer>

            <div class="d-flex justify-content-end mt-4">
                <!-- <div class="btn btn-primary" [class.disabled]="dataSource.data.length == 0" (click)="">Descargar
                    listado</div> -->
                <button mat-button type="button" aria-label="Down" (click)="download()">
                    <fa-icon [icon]="faDown"></fa-icon>
                    <span class="px-3">Descargar documento</span>
                </button>
            </div>
        </ng-container>
    </ng-container>
</div>

<ng-template #noData>
    <app-loader></app-loader>
</ng-template>

<ng-template #noFile>
    <small class="text-danger">
        Debe seleccionar una unidad
    </small>
</ng-template>