<h2 mat-dialog-title>{{!mydata.isMod?'Agregar':'Modificar'}} Cargo</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="form" (ngSubmit)="closeDialog()">
        <!-- <div class="row">
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Clasificador" formControlName="clasificador">
                    <mat-hint>Sin errores</mat-hint>
                    <mat-error *ngIf="form.controls['clasificador'].hasError('required')">
                        El clasificador es obligatorio
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Salario" type="number" formControlName="salario">
                    <mat-hint>Sin errores</mat-hint>
                    <mat-error
                        *ngIf="!form.controls['salario'].hasError('required') && form.controls['salario'].hasError('min')">
                        El salario debe ser positivo
                    </mat-error>
                    <mat-error *ngIf="form.controls['salario'].hasError('required')">
                        El salario es obligatorio
                    </mat-error>
                </mat-form-field>
            </div>
        </div> -->

        <div class="d-flex justify-content-end mt-4">
            <button mat-button [mat-dialog-close]="{success:false, object:undefined}" type="button">Cancelar</button>
            <button mat-button cdkFocusInitial type="submit">{{!mydata.isMod?'Agregar':'Modificar'}}</button>
        </div>
    </form>
</mat-dialog-content>