<div class="container">
    <footer class="flex-column py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Tablero</a></li>
            <li class="nav-item"><a [routerLink]="plantilla" class="nav-link px-2 text-muted">Plantilla</a></li>
            <li class="nav-item"><a [routerLink]="modelos" class="nav-link px-2 text-muted">Modelos</a></li>
            <li class="nav-item"><a [routerLink]="sistema" class="nav-link px-2 text-muted">Sistema</a></li>
        </ul>
        <p class="text-center text-muted">©
            {{year}} Unidad de Aseguramiento a la Salud
            P&uacute;blica, Jaruco
        </p>
    </footer>
</div>