<app-title-banner title="Relación de trabajadores por unidad" image_src="assets/images/workers_banner.png">
</app-title-banner>

<div class="card-body">
    <div class="d-flex justify-content-between">
        <mat-form-field>
            <mat-label>Seleccione una unidad</mat-label>
            <mat-select #select [(value)]="unidad" [compareWith]="compareObjects" (valueChange)="changedUni()">
                <mat-select-filter [array]="unidades" [displayMember]="'nombre'" (filteredReturn)="filtered = $event"
                    placeholder="Buscar..." *ngIf="select.focused" [showSpinner]="true"
                    noResultsMessage="Sin coincidencias">
                </mat-select-filter>
                <mat-option *ngFor="let uni of filtered" [value]="uni">
                    {{uni.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <ng-container *ngIf="!isLoading; else noData;">
        <div *ngIf="!allUnidsB">
            <app-clickable-trabajador-table [dataSource]="dataSource"></app-clickable-trabajador-table>
        </div>


        <div *ngIf="allUnidsB">
            <mat-tab-group (selectedIndexChange)="changeTab($event)">
                <mat-tab *ngFor="let uni of unidades.slice(1); let index = index" [label]="uni.nombre">
                    <app-clickable-trabajador-table [dataSource]="dataSources[index+1]">
                    </app-clickable-trabajador-table>
                </mat-tab>
            </mat-tab-group>
        </div>


        <div class="d-flex justify-content-end mt-4">
            <button mat-button type="button" aria-label="Down" (click)="download()" [disabled]="disableDown()">
                <fa-icon [icon]="faDown"></fa-icon>
                <span class="px-3">Descargar listado</span>
            </button>
        </div>
    </ng-container>
</div>

<ng-template #noData>
    <app-loader></app-loader>
</ng-template>