<section class="bg-dark vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card rounded-3">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-flex align-items-center justify-content-center">
                            <img src="assets/images/favicon.png" alt="login form" class="img-fluid" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form ngNativeValidate (ngSubmit)="submitLogin()">

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <div class="row">
                                            <div class="col-sm-6 d-md-none">
                                                <img src="assets/images/logo.png" alt="" class="w-100">
                                            </div>
                                            <div class="col-md-12 col-sm-6 text-center">
                                                <h2 class="fw-normal">Sistema de Gesti&oacute;n de Recursos Humanos</h2>
                                            </div>
                                        </div>
                                    </div>

                                    <h1 class="fw-normal mb-3 pb-3 text-center">Iniciar sesi&oacute;n
                                    </h1>

                                    <div class="form-outline mb-4">
                                        <input type="text" id="username" class="form-control form-control-lg" required [(ngModel)]="username" [ngModelOptions]="{standalone:true}" >
                                        <label class="form-label" for="username">Nombre de usuario</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="password" id="password" class="form-control form-control-lg" required [(ngModel)]="password" [ngModelOptions]="{standalone:true}" >
                                        <label class="form-label" for="password">Contrase&ntilde;a</label>
                                    </div>

                                    <div class="pt-1 mb-4 d-flex align-items-center justify-content-between">
                                        <a class="small text-muted" href="#" (click)="restorrePass()">¿No recuerda la contraseña?</a>
                                        <button class="btn btn-primary btn-lg btn-block"
                                            type="submit">Confirmar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>