<h1 class="card-title">Resumen de trabajadores y salarios</h1>

<div class="card-body">

    <mat-horizontal-stepper linear="true" #stepper>
        <ng-template matStepperIcon="done">
            <fa-icon [icon]="faDone"></fa-icon>
        </ng-template>

        <mat-step [stepControl]="monthControl" [editable]="false" #monthStep>

            <ng-container *ngIf="!isLoading; else noData;">
                <ng-template matStepLabel>{{mes}}</ng-template>

                <div class="d-flex justify-content-between">
                    <mat-form-field>
                        <mat-label>Seleccione una unidad</mat-label>
                        <mat-select #select [(value)]="unidad" [compareWith]="compareObjects">
                            <mat-select-filter [array]="unidades" [displayMember]="'nombre'"
                                (filteredReturn)="filtered = $event" placeholder="Buscar..." *ngIf="select.focused"
                                [showSpinner]="true" noResultsMessage="Sin coincidencias">
                            </mat-select-filter>
                            <mat-option *ngFor="let uni of filtered" [value]="uni">
                                {{uni.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <app-month-picker (submitEvent)="obtainMonth($event)" #month></app-month-picker>
            </ng-container>

        </mat-step>

        <mat-step [editable]="false" #formStep>
            <ng-template matStepLabel>Entrada de datos</ng-template>
            <app-noct-tables (submitEvent)="loadinfo($event)" *ngIf="monthStep.completed" [unidad]="unidad"
                [mes]="selectedMonth" #form>
            </app-noct-tables>
            <div class="flex-right">
                <button mat-button (click)="reset()">Volver al inicio</button>
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Documento</ng-template>

            <ng-container *ngIf="!isLoading; else noData;">
                <ng-container *ngIf="file != ''; else noFile">
                    <app-pdf-viewer [src]="file"
                        [downloadFileName]="'Base de datos - ' + unidad.nombre + ' - ' + mes + '.pdf'">
                    </app-pdf-viewer>
                </ng-container>
            </ng-container>

            <br />

            <div class="flex-right">
                <button mat-button (click)="reset()">Volver al inicio</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>

<ng-template #noData>
    <app-loader></app-loader>
</ng-template>

<ng-template #noFile>
    <small class="text-danger">
        No se carg&oacute; el archivo
    </small>
</ng-template>