<form [formGroup]="form" (ngSubmit)="submitEvent.emit(month)">
    <mat-form-field>
        <input matInput [matDatepicker]="dp" title="Seleccione un mes" formControlName="selectedMonth" [min]="startDate"
            [max]="endDate">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)"
            (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker" [disabled]="false">
        </mat-datepicker>
    </mat-form-field>

    <div class="flex-right">
        <button mat-button type="submit">
            Siguiente
        </button>
    </div>
</form>