<h1 class="card-title">Búsqueda avanzada</h1>

<div class="card-body">
    <div class="d-flex justify-content-between">

        <div>
            <p>Detalles de los filtros aplicados:</p>
            <p class="filter-detail">{{lastFilter | trabajadorFilter}}</p>
        </div>

        <button mat-button type="button" matTooltip="Seleccionar filtros" aria-label="Select" class="mb-3"
            (click)="openBottomSheet()">
            <fa-icon [icon]="faFilter"></fa-icon>
        </button>
    </div>

    <ng-container *ngIf="!isLoading; else noData;">
        <div>
            <app-clickable-trabajador-table [dataSource]="dataSource"></app-clickable-trabajador-table>
        </div>

        <div class="d-flex justify-content-end mt-4">
            <button mat-button type="button" aria-label="Down" (click)="download()"
                [disabled]="dataSource.data.length == 0">
                <fa-icon [icon]="faDown"></fa-icon>
                <span class="px-3">Descargar listado</span>
            </button>
        </div>
    </ng-container>
</div>

<div class="modal fade right" id="modalPoll" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-backdrop="false">
    <app-filters-selector></app-filters-selector>
</div>

<ng-template #noData>
    <app-loader></app-loader>
</ng-template>