/* You can add global styles to this file, and also import other style files */

* {
    font-family: Poppins;
}

html,
body {
    height: 100vh;
    min-height: 100vh !important;
    min-width: 480px;
}

body {
    margin: 0;
    background-color: #eee !important;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 0 10px !important;
}

.clickable-row:hover {
    background: #f5f5f5;
}

form .row {
    margin-bottom: 1rem;
}

.chartCanvas {
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.example-month-picker .mat-calendar-period-button {
    pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
    display: none;
}

.flex-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.mat-horizontal-stepper-header {
    pointer-events: none !important;
}