/* You can add global styles to this file, and also import other style files */

*{
    font-family: Poppins;
}

html,
body {
    height: 100vh;
    min-height: 100vh !important;
    min-width: 480px;
}

body {
    margin: 0;
    background-color: #eee !important;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

form .row {
    margin-bottom: 1rem;
}