<h1 class="card-title">Informe de Ausentismo</h1>

<div class="card-body">

    <mat-horizontal-stepper linear="true" #stepper>
        <ng-template matStepperIcon="done">
            <fa-icon [icon]="faDone"></fa-icon>
        </ng-template>

        <mat-step [stepControl]="monthControl" [editable]="false" #monthStep>
            <ng-container *ngIf="!isLoading; else noData;">
                <ng-template matStepLabel>{{mes}}</ng-template>
                <app-month-picker (submitEvent)="obtainMonth($event)" #month></app-month-picker>
            </ng-container>
        </mat-step>

        <mat-step [editable]="false" #formStep>
            <ng-template matStepLabel>Entrada de datos</ng-template>
            <app-ausentismo-form (submitEvent)="loadinfo($event)" *ngIf="monthStep.completed" #form
                [mes]="selectedMonth">
            </app-ausentismo-form>
            <div class="flex-right">
                <button mat-button (click)="reset()">Volver al inicio</button>
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Documento</ng-template>
            You are done
            <br />

            <div class="flex-right">
                <button mat-button (click)="reset()">Volver al inicio</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>

<ng-template #noData>
    <app-loader></app-loader>
</ng-template>