<h2>Seleccionar filtros</h2>

<form [formGroup]="form" (ngSubmit)="submitDialog()">
    <h3 class="mb-1">Informaci&oacute;n Personal</h3>
    <div class="row">
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Nombre" formControlName="nombre">
                <mat-hint>Sin errores</mat-hint>
                <mat-error *ngIf="form.controls['nombre'].hasError('pattern')">
                    El nombre tiene un formato incorrecto
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Apellidos" formControlName="apellidos">
                <mat-hint>Sin errores</mat-hint>
                <mat-error *ngIf="form.controls['apellidos'].hasError('pattern')">
                    Los apellidos tienen un formato incorrecto
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Carne de identidad" formControlName="ci" type="number">
                <mat-hint>Sin errores</mat-hint>
                <mat-error *ngIf="form.controls['ci'].hasError('pattern')">
                    El carne de identidad tiene un formato incorrecto
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <mat-select placeholder="Sexo" formControlName="sexo">
                    <mat-option value="m">Masculino</mat-option>
                    <mat-option value="f">Femenino</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <mat-select #selectNE placeholder="Nivel escolar" formControlName="nivelEscolar"
                    [compareWith]="compareObjects">
                    <mat-select-filter [array]="niveles" [displayMember]="'nombre'"
                        (filteredReturn)="filteredNE = $event" placeholder="Buscar..." *ngIf="selectNE.focused"
                        [showSpinner]="true" noResultsMessage="Sin coincidencias">
                    </mat-select-filter>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let nivel of filteredNE" [value]="nivel">
                        {{nivel.nombre}}
                    </mat-option>
                </mat-select>
                <mat-hint>Sin errores</mat-hint>
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <div class="d-flex flex-md-column align-md-items-center justify-content-center gap-2">
                <mat-checkbox formControlName="maestria" labelPosition="after" [indeterminate]="true"
                    (change)="onChange($event)" #maestria>
                    Maestrías
                </mat-checkbox>
                <mat-checkbox formControlName="doctorado" labelPosition="after" [indeterminate]="true"
                    (change)="onChange($event)" #doctorado>
                    Doctorados
                </mat-checkbox>
            </div>
        </div>
    </div>

    <h3 class="mb-1">Informaci&oacute;n de contrato</h3>
    <div class="row">
        <div class="col-md-12">
            <mat-form-field class="example-full-width">
                <mat-select #selectD placeholder="Departamento" formControlName="idDepartamento"
                    [compareWith]="compareObjects">
                    <mat-select-filter [array]="deps" [displayMember]="'nombre'" (filteredReturn)="filteredD = $event"
                        placeholder="Buscar..." *ngIf="selectD.focused" [showSpinner]="true"
                        noResultsMessage="Sin coincidencias">
                    </mat-select-filter>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let dep of filteredD" [value]="dep">
                        {{dep.nombre}}/{{dep.idUnidad.nombre}}
                    </mat-option>
                </mat-select>
                <mat-hint>Sin errores</mat-hint>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <mat-select #selectC placeholder="Cargo" formControlName="idCargo"
                    [compareWith]="compareObjects">
                    <mat-select-filter [array]="cargos" [displayMember]="'nombre'" (filteredReturn)="filteredC = $event"
                        placeholder="Buscar..." *ngIf="selectC.focused" [showSpinner]="true"
                        noResultsMessage="Sin coincidencias">
                    </mat-select-filter>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let cargo of filteredC" [value]="cargo">
                        {{cargo.nombre}}
                    </mat-option>
                </mat-select>
                <mat-hint>Sin errores</mat-hint>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <mat-select #selectCD placeholder="Categoría docente" formControlName="idcatDoc"
                    [compareWith]="compareObjects">
                    <mat-select-filter [array]="catsDoc" [displayMember]="'tipo'" (filteredReturn)="filteredCD = $event"
                        placeholder="Buscar..." *ngIf="selectCD.focused" [showSpinner]="true"
                        noResultsMessage="Sin coincidencias">
                    </mat-select-filter>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let cd of filteredCD" [value]="cd">
                        {{cd.tipo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <mat-select #selectCLA placeholder="Condiciones laborales adicionales" formControlName="idCLA"
                    [compareWith]="compareObjects">
                    <mat-select-filter [array]="clas" [displayMember]="'grupo'" (filteredReturn)="filteredCLA = $event"
                        placeholder="Buscar... (Solo número del grupo)" *ngIf="selectCLA.focused" [showSpinner]="true"
                        noResultsMessage="Sin coincidencias">
                    </mat-select-filter>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let cla of filteredCLA" [value]="cla">
                        Grupo {{cla.grupo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <div class="d-flex flex-md-column align-md-items-center justify-content-center gap-2 h-100">
                <mat-checkbox formControlName="mision" labelPosition="after" [indeterminate]="true"
                    (change)="onChange($event)" #mision>
                    Cumpliendo misi&oacute;n
                </mat-checkbox>
            </div>
        </div>
    </div>


    <div class="d-flex justify-content-end mt-4">
        <button mat-button (click)="cancel()" type="button">Cancelar</button>
        <button mat-button type="submit">Aceptar</button>
    </div>
</form>